<div class="container">
<h1> ENTER NEW TRIP </h1>
<form method='post' action='/users/<%=@user.id%>/trips'>
	<label for="destination">Destination Name:</label>
  <input type = 'text' name='destination' placeholder='destination name'><br>
  <label for="destination">Destination Setting:</label>
  <input type = 'text' name='setting' placeholder='setting'><br>
	<label for="destination">Trip Length In Days:</label>
	<input type = 'text' name="days" placeholder ='days'><br>
  <input type = 'submit' value = 'submit'><br>
</form>
</div>